* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: black; }

.container, .mid__phi, .mid__insta, .skillset, .projects, .projects__desc, .dribbble__desc, .testimonials, .testimonials__comment {
  width: 100%;
  padding-right: 7.2rem;
  padding-left: 7.2rem;
  margin-right: auto;
  margin-left: auto; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.text--light {
  color: white !important; }

.text--dark-gray {
  color: #C7E0F4 !important; }

.text--light-gray {
  color: #8491A0 !important; }

.text--purple {
  color: #5221E6 !important; }

.text--green {
  color: #3CC74E !important; }

.text--pink {
  color: #E95D90 !important; }

.text--primary {
  color: #5221E6 !important; }

.text--level-1 {
  color: #181823 !important; }

h1 {
  line-height: 9.1rem;
  font-size: 7.6rem;
  color: white;
  font-weight: bold; }

h2 {
  line-height: 6.6rem;
  font-size: 5.5rem;
  color: white;
  font-weight: bold; }

h3 {
  line-height: 2.9rem;
  font-size: 2.4rem;
  color: white;
  font-weight: bold; }

h4 {
  font-size: 1.8rem;
  color: white;
  font-weight: bold; }

h5 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold; }

.b1 {
  font-size: 1.8rem;
  color: white; }

.b2 {
  font-size: 1.6rem;
  color: white; }

p {
  font-size: 1.8rem; }

.nav {
  font-size: 2rem;
  background-color: black;
  color: white;
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .nav__brand {
    z-index: 1000;
    padding: 2rem;
    align-self: center; }
  .nav__items {
    z-index: 1000;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1; }
    .nav__items > * {
      height: 100%;
      padding-inline: 2rem;
      display: flex;
      align-items: center; }
  .nav__item--contact {
    background-color: #5221E6; }
  .nav__item:not(:last-child) {
    margin-right: 2rem; }

.hero {
  margin-top: -6rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
  grid-gap: 0;
  justify-content: center; }
  .hero__left {
    z-index: 1;
    display: flex;
    align-items: center; }
    .hero__left > img {
      width: 100%;
      height: auto; }
  .hero__right {
    background-color: #181823;
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero__desc {
    padding-block: 4.8rem;
    margin-left: 14rem;
    margin-right: 4rem;
    z-index: 1; }

.exp {
  padding-block: 4.8rem; }
  .exp__companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    padding-top: 6rem; }
  .exp h1 {
    font-weight: lighter !important; }

.mid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
  grid-gap: 0;
  padding-block: 4.8rem; }
  .mid__phi, .mid__insta {
    padding-block: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white; }
  .mid__image {
    background: url("../../img/Rectangle 38.png");
    background-size: cover;
    background-position: center;
    height: 60rem; }
    .mid__image--insta {
      background: url("../../img/Rectangle 38 insta.png");
      background-size: cover;
      background-position: center;
      height: 60rem; }
  .mid__more {
    color: black;
    text-decoration: 4px underline #5221E6; }

.skillset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  padding-block: 4.8rem; }
  .skillset__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    grid-gap: 6rem; }

.logobar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 0; }
  .logobar__logo {
    padding-inline: 6rem;
    padding-block: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #8491A0 solid; }
    .logobar__logo:not(:last-child) {
      border-right-style: none; }

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  padding-block: 4.8rem;
  align-items: center; }
  .projects__head {
    padding-block: 6rem; }
  .projects img {
    max-width: 100%;
    height: auto; }
  .projects__preview {
    padding-block: 4.8rem;
    display: flex;
    flex-direction: column; }
  .projects__desc {
    padding-block: 4.8rem;
    background-color: #181823; }
  .projects__left, .projects__right {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .projects__button {
    text-decoration: none;
    padding: 2rem;
    border: 2px solid #5221E6;
    font-weight: bold; }

.dribbble {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .dribbble__desc {
    padding-block: 4.8rem;
    align-self: flex-start; }
  .dribbble__screenshot {
    display: flex;
    flex-direction: row; }

.testimonials {
  padding-block: 4.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 6rem; }
  .testimonials__preview {
    display: flex;
    flex-direction: column;
    border: 1px solid #8491A0; }
  .testimonials__right {
    display: flex;
    flex-direction: column;
    gap: 6rem; }
  .testimonials__comment {
    padding-block: 4.8rem; }
  .testimonials__quote {
    padding-bottom: 6rem; }
