@mixin padding-block {
    padding-block: 4.8rem;
}

@mixin grid-autofit($min, $gap) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
    gap: $gap;

    @media only screen and (max-width: $min) {
        grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
    }
}