.hero {
    margin-top: -$nav-height;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70rem, max-content));
    justify-content: center;

    &__left {
        z-index: 1;
        display: flex;
        align-items: center;
        > img {
            width: 100%;
            // max-width: 55vw; // uncomment this if we want same of figma
            height: auto;
        }
    }

    &__right {
        // height: 110vh;
        background-color: $color-level-1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__desc {
        padding-block: 4.8rem;
        margin-left: 14rem;
        margin-right: 4rem;
        z-index: 1;
    }
}