.logobar {
    @include grid-autofit(25rem, 0);

    &__logo {
        padding-inline: 6rem;
        padding-block: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px $color-light-grey solid;
        &:not(:last-child){
            border-right-style: none;
        }
    }
}