.mid {
    @include grid-autofit(70rem, 0);
    @include padding-block;

    &__phi, &__insta {
        @extend .container;
        @include padding-block;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
    }

    &__image {
        background: url("../../img/Rectangle\ 38.png");
        background-size: cover;
        background-position: center;
        height: 60rem;

        &--insta {
            background: url("../../img/Rectangle\ 38\ insta.png");
            background-size: cover;
            background-position: center;
            height: 60rem
        }
    }

    &__more {
        color: black;
        text-decoration: 4px underline $color-purple;
    }
}