.nav {
    @extend .container;
    font-size: 2rem;
    color: white;
    height: $nav-height;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media only screen and (max-width: 600px) {
        background-color: black;
        position: sticky;
        z-index:1000;
    }

    &__brand {
        z-index:1000;
        padding: 2rem;
        align-self: center;
    }

    &__items {
        z-index:1000;
        margin:0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex:1;

        & > * {
            height: 100%;
            padding-inline: 2rem;
            display: flex;
            align-items: center;
        }

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    &__hamburger {
        z-index: 1000;
        align-self: center;
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        &--contact {
            background-color: $color-purple;
        }
    }

    &__item:not(:last-child) {
        margin-right: 2rem;
    }
}
