* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    background-color:black;
}

.container {
    width: 100%;
    padding-right: 7.2rem;
    padding-left: 7.2rem;
    margin-right: auto;
    margin-left: auto;
}